---
import Layout from '../layouts/Layout.astro';

import Hero from '../components/Hero.astro';
import Preparation from '../components/Preparation.astro';
import Ingredients from '../components/Ingredients.astro';
import Instruccions from '../components/Instruccions.astro';
import Nutrition from '../components/Nutrition.astro';
import Footer from '../components/Footer.astro';
---

<Layout title='Welcome to Astro.'>
	<main class='bg-eggsheld py-10 px-5 lg:px-0'>
		<div class='bg-white max-w-[650px] py-10 px-7 rounded-md mx-auto shadow'>
			<Hero />
			<Preparation />
			<Ingredients />
			<hr />
			<Instruccions />
			<hr />
			<Nutrition />
		</div>
	</main>
	<Footer />
</Layout>
