<div>
	<img
		src='/images/image-omelette.jpeg'
		alt='omelette image'
		class='rounded-md hover:opacity-90'
	/>
	<h1 class='text-3xl mt-7 mb-5 font-bold text-center sm:text-left'>Simple Omelette Recipe</h1>
	<p class='text-gray-500 text-[15px]'>
		An easy and quick dish, perfect for any meal. This classic omelette combines
		beaten eggs cooked to perfection, optionally filled with your choice of
		cheese, vegetables, or meats.
	</p>
</div>
